<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Details of Students</h1>

        <table border="3px">
            <tr>
                <th>Student id</th>
                <th>Student name</th>
                <th>Student Email</th>
            </tr>
            {% for so in SQS %}
                <tr>
                    <td>{{so.sid}}</td>
                    <td>{{so.name}}</td>
                    <td>{{so.email}}</td>
                </tr>

            {% endfor %}
        </table>












    </center>
</body>
</html>